@import '../../../../../../dist/scss/variables.scss';

:host {
  display: flex;
  justify-content: center;

  .inputBox {
    margin-right: 100px;
    position: relative;
    width: 400px;
    margin-bottom: 50px;

  }

  .inputBox input {

    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: $primary-background-color;
    border-radius: 5px;
    color: #000000;
    outline: none;
    font-size: 1rem;
  }

  .inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
  }


  .inputBox input:valid~span,
  .inputBox input:focus~span {
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65rem;
    color: $secondary-color;
    padding: 0 10px;
    background: $primary-background-color;
    border-left: 1px solid $secondary-color;
    border-right: 1px solid $secondary-color;

  }

  .inputBox:nth-child(2) input:valid~span,
  .inputBox:nth-child(2) input:focus~span {
    background: $secondary-color;
    color: $primary-background-color;
    border-radius: 2px;
  }

  .inputBox input:valid,
  .inputBox input:focus {
    border: 1px solid $secondary-color;
  }

}

@media (max-width: 768px) {
  :host {
    
    flex-direction: column;
    align-items: center;

    .inputBox {
      width: 500px;
      margin-right: 0;
      margin-bottom:0;
    }

    .inputBox input{
      width: 95%;
      height: 75px;
      margin: 0;
    } 
  }
}

@media (max-width: 500px) {
  :host {
    .inputBox {
      width: 350px;
    }
  }
}

