<footer>
    <div class="container">
      <span>&copy; 2023 Igo Marcos. Todos os direitos reservados.</span>
      <a href="https://linktr.ee/igodev" target="_blank" rel="noopener noreferrer">
        <img src="assets/img/06.png" alt="logo">
      </a>
      <div class="redes">
  
        <a href="https://github.com/igomarcos" target="_blank" rel="github">
          <img src="assets/icons/github.svg" alt="logo">
        </a>
  
        <a href="https://www.linkedin.com/in/igomarcos/" target="_blank" rel="github">
          <img src="assets/icons/linkedin.svg" alt="logo">
        </a>
  
        <a href="https://www.instagram.com/igo.marcos/" target="_blank" rel="github">
          <img href="" src="assets/icons/insta.svg" alt="logo">
        </a>
  
      </div>
  
    </div>
  </footer>